<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ahmetkaymak.vitae">

    <uses-sdk tools:overrideLibrary="org.qap.ctimelineview,gr.escsoft.michaelprimez.searchablespinner,belka.us.androidtoggleswitch"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Google map permissions-->
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" android:protectionLevel="dangerous"/>
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:protectionLevel="dangerous"/>

    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vitaelogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.project.ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.project.ui.main.MenuActivity"/>
        <activity android:name="com.project.ui.signup.SignUpMainActivity"/>
        <activity android:name="com.project.ui.main.PostActivity"/>
        <activity android:name="com.project.ui.seach.SearchActivity"/>
        <activity android:name="com.project.ui.hospitalpage.HospitalProfileActivity"/>
        <activity android:name="com.project.ui.main.healthtree.disease.DiseaseAddActivity"/>
        <activity android:name="com.project.ui.main.healthtree.treatment.TreatmentAddActivity"/>
        <activity android:name="com.project.ui.main.healthtree.drug.DrugAddActivity"/>
        <activity android:name="com.project.ui.userhealthtree.UserHealthTreeActivity"/>
        <activity android:name="com.project.ui.patient.PatientActivity"/>
        <activity android:name="com.project.ui.patient.UserSettingsActivity"/>
        <activity android:name="com.project.ui.patient.UserFriendsActivity"/>
        <activity android:name="com.project.ui.main.message.MessageActivity"/>
        <activity android:name="com.project.ui.location.ActivityHospitalDiseasePerformanceMap"/>
        <activity android:name="com.project.ui.location.ActivityBloodAlertMap"/>
        <activity android:name="com.project.ui.main.message.ContactActivity"/>
        <activity android:name="com.project.ui.signup.SignUpUserActivity"/>
        <activity android:name="com.project.ui.doctor.DoctorActivity"/>
        <activity android:name="com.project.ui.location.ActivityDoctorDiseasePerformanceMap"/>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.project.uimodule.main.MenuActivity"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        //FCM
        <service
            android:name="com.project.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.project.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.project.firebase.MyJobService"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more.-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_blood_red" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blood_alarm_color" />

    </application>

</manifest>